:root{
    --mainColor:#000000;
    --secondaryColor:#640000;

    --borderColor:#8b0303;

    --mainText:#ffffff;
    --secondaryText: #696e72;

    --themeDotBorder: #c02929;

    --previewBG: rgb(251,249,243,0.8);
    --previewShadow: #f0ead6;

    --buttonColor: rgb(156, 27, 27);
    
    --grafittyLetter: 'Fleur De Leah', cursive;
    --standardText: 'Delius Swash Caps', cursive;
}